.chat-icon {
  font-size: 1.5rem;
  color: white;
  padding: 8px;
  border-radius: 0.625rem;
}
.p-card {
  border : 2px solid rgba(93, 81, 81, 0.11);
}
.table-content {
  background-color: transparent !important;
}
