<div
  class="assistq-chat-icon"
  role="button"
  (click)="openWidget()"
>
  <div>test</div>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="26"
       height="26"
       fill="white"
       viewBox="0 0 16 16">
    <path d="M2.678 11.894a1 1 0 0 1 .287.801
             11 11 0 0 1-.398 2
             c1.395-.323 2.247-.697 2.634-.893
             a1 1 0 0 1 .71-.074
             A8 8 0 0 0 8 14
             c3.996 0 7-2.807 7-6
             s-3.004-6-7-6-7 2.808-7 6
             c0 1.468.617 2.83 1.678 3.894"/>
  </svg>
</div>
