.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  padding-top: 20px;
  z-index: 30;
  display: inline-block;

}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
