.header {
  background-color: rgb(249, 250, 252);
  padding: 1rem;
  font-weight: 600;
  border-radius: 12px 12px 0 0;
}



.field-label {
  font-size: 14px;
  font-weight: 500;
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;


  p-color-picker{
    width: 40px;
    height: 40px;
  }
}
